.skills-main {
  height: 100%;
  background-color: var(--primary-main-color);
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: start;
}

.skills-parent {
  margin: 1rem 0;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  border-top: 2px solid var(--primary-color);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.skills div {
  display: flex;
  flex: 1 1 calc(25% - 20px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 200px;
  height: 180px;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.skills div:hover {
  transform: scale(1.05);
box-shadow: 0 8px 20px rgba(137, 137, 137, 0.512);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.skills-parent h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .skills-parent {
    width: 90%;
  }
  
  .skills div {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    height: 150px;
  }

  .skills {
    flex-direction: row;
    gap: 1rem;
  }
}
